<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>LyricsPhotos | Lyrics w/ tags</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${song.artist + ' - ' + song.title}"></h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Line</th>
            <th>Tag(s)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stanza : ${song.stanzas}">
            <td>
                <div th:each="line : ${stanza.lines}">
                    <div th:text="${line}"></div>
                </div>
            </td>
            <td>
                <div th:each="tag : ${stanza.tags}">
                    <div th:text="${tag}"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>