<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>LyricsPhotos | Songs</title>
</head>
<body>
<div layout:fragment="content">
    <h1>List of songs</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Artist</th>
                <th>Title</th>
                <th># of stanzas</th>
                <th>Show lyrics</th>
                <th>Show images</th>
                <th>Generate tags</th>
                <th>Generate images</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song : ${songs}">
                <td th:text="${song.id}">id</td>
                <td th:text="${song.artist}">artist</td>
                <td th:text="${song.title}">title</td>
                <td th:text="${song.stanzas.size()}">stanzas</td>
                <div th:if="${!song.areTagsGenerated}">
                    <td><a class="text-danger" th:href="@{/songs/lyrics/{id}(id=${song.id})}">
                        <span class="far fa-file-word fa-2x"></span>
                    </a></td>
                </div>
                <div th:if="${song.areTagsGenerated}">
                    <td><a class="text-success" th:href="@{/songs/lyrics/{id}(id=${song.id})}">
                        <span class="far fa-file-word fa-2x"></span>
                    </a></td>
                </div>
                <div th:if="${!song.areImagesGenerated}">
                    <td><a class="text-danger" th:href="@{/songs/lyricsWithImages/{id}(id=${song.id})}">
                        <span class="far fa-images fa-2x"></span>
                    </a></td>
                </div>
                <div th:if="${song.areImagesGenerated}">
                    <td><a class="text-success" th:href="@{/songs/lyricsWithImages/{id}(id=${song.id})}">
                        <span class="far fa-images fa-2x"></span>
                    </a></td>
                </div>
                <td><a class="text-dark" th:href="@{/songs/forceGenerateTags/{id}(id=${song.id})}">
                    <span class="fas fa-tags fa-2x"></span>
                </a></td> <!-- fa-hashtag -->
                <td><a class="text-dark" th:href="@{/songs/forceGenerateImages/{id}(id=${song.id})}">
                    <span class="fas fa-camera-retro fa-2x"></span>
                </a></td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>