<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>LyricsPhotos | Songs</title>
</head>
<body>
<div layout:fragment="content">
    <h1>List of songs</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Artist</th>
                <th>Title</th>
                <th># of stanzas</th>
                <th>Show lyrics</th>
                <th>Show images</th>
                <th>GENERATE TAGS</th>
                <th>GENERATE IMAGES</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song : ${songs}">
                <td th:text="${song.id}">id</td>
                <td th:text="${song.artist}">artist</td>
                <td th:text="${song.title}">title</td>
                <td th:text="${song.stanzas.size()}">stanzas</td> <!-- works -->
                <td><a th:href="@{/songs/lyrics/{id}(id=${song.id})}">SHOW LYRICS</a></td> <!-- aka OPEN -->
                <td><a th:href="@{/songs/lyricsWithImages/{id}(id=${song.id})}">SHOW IMAGES</a></td> <!-- aka GENERATE-->
                <td><a th:href="@{/songs/generateTags/{id}(id=${song.id})}">GENERATE TAGS</a></td>
                <td><a th:href="@{/songs/generateImages/{id}(id=${song.id})}">GENERATE IMAGES</a></td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>